JPEGAutoRotatorExt/JPEGAutoRotatorExt.aps
.vs/JPEGAutoRotatorExt/v14/.suo
*.filters
*.tlog
JPEGAutoRotatorLib/x64/Debug/JPEGAutoRotatorLib.Build.CppClean.log
*.ipch
*.idb
*.pdb
*.opendb
JPEGAutoRotatorExt.VC.db
/Debug
/JPEGAutoRotatorExt/Debug
/JPEGAutoRotatorLib/Debug
*.obj
JPEGAutoRotatorExt/x64/Debug/JPEGAutoRotatorExt.log
*.pch
*.res
*.log
x64/Debug/JPEGAutoRotatorUnitTests.dll
*.exp
x64/Debug/JPEGAutoRotatorUnitTests.ilk
*.lib
x64/Debug/JPEGAutoRotatorExt.ilk
*.dll
*.iobj
Release/JPEGAutoRotatorUnitTests.ipdb
*.ipdb
