JPEGAutoRotatorExt/JPEGAutoRotatorExt.aps
.vs/JPEGAutoRotatorExt/v14/.suo
*.filters
*.tlog
JPEGAutoRotatorLib/x64/Debug/JPEGAutoRotatorLib.Build.CppClean.log
*.ipch
*.idb
*.pdb
*.opendb
JPEGAutoRotatorExt.VC.db
/Debug
/JPEGAutoRotatorExt/Debug
/JPEGAutoRotatorLib/Debug
*.obj
JPEGAutoRotatorExt/x64/Debug/JPEGAutoRotatorExt.log
*.pch
*.res
*.log
x64/Debug/JPEGAutoRotatorUnitTests.dll
*.exp
x64/Debug/JPEGAutoRotatorUnitTests.ilk
*.lib
x64/Debug/JPEGAutoRotatorExt.ilk
*.dll
*.iobj
Release/JPEGAutoRotatorUnitTests.ipdb
*.ipdb
*.msi
JPEGAutoRotatorInstaller64/Release/setup.exe
*.db
.vs/JPEGAutoRotatorExt/v15/Solution.VC.db-shm
*.db-wal
.vs/JPEGAutoRotatorExt/v15/.suo
*.ilk
UpgradeLog.htm
JPEGAutoRotatorInstaller32/Release/setup.exe
x64/Release/Landscape_1.jpg
x64/Release/Landscape_2.jpg
x64/Release/Landscape_3.jpg
x64/Release/Landscape_4.jpg
x64/Release/Landscape_5.jpg
x64/Release/Landscape_6.jpg
x64/Release/Landscape_7.jpg
x64/Release/Landscape_8.jpg
x64/Release/Portrait_1.jpg
x64/Release/Portrait_2.jpg
x64/Release/Portrait_3.jpg
x64/Release/Portrait_4.jpg
x64/Release/Portrait_5.jpg
x64/Release/Portrait_6.jpg
x64/Release/Portrait_7.jpg
x64/Release/Portrait_8.jpg
